body {
    margin-bottom: 50px; /* Ajusta el valor dependiendo de la altura del footer */
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
.main-container {
    flex: 1; /* Permite que este contenedor crezca para ocupar todo el espacio disponible */
    display: flex;
    flex-direction: column;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black; 
}

.nav_titular {
    position: relative;
    padding: 100px;
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    overflow: hidden; 
}

.nav_titular #video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(60%);
}

.nav_titulo {
    z-index: -1;
}

.subtitulo {
    color: white;
    font-size: 30px;
}

#button {
    background-color: yellow;
    border-radius: 10%;
    height: 30%;
    font-size: 30px;
    font-weight: bold;
    border-color: rgba(255, 255, 0, 0.67);
    text-decoration: none;
    padding: 1.5rem 1.8rem;
}
.introduccion{
    position: relative;
    height: 16rem;
    
    

    
}
#fondo_juego1 {
    position: relative; 
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(60%);
}
#fondo_juego2 {
    position: absolute;
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}
.info {
    text-decoration: underline;
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translateX(-50%); 
    align-items: center;
    font-size: 1rem;
    color: white;
    text-align: center; 
}
.texto_introductorio {
    position: absolute; 
    top: 35%;
    left: 50%;
    transform: translateX(-50%); 
    
    font-size: 1rem;
    color: white;
    text-align: center; 
    
}


.content_actual {
    position: relative;
    height: 80rem; /* Ajusta según lo que necesites, el 80 lo reajusto en las confis de dispositivos */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    background-image: url('img/fodno_selec_level.png'); 
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; 
    
    color: white; 
}



.info_contenido {
    text-decoration: underline;
    position: absolute; 
    top: 3%;
    left: 50%;
    transform: translateX(-50%); 
    align-items: center;
    font-size: 1rem;
    color: rgb(103, 119, 225);
    font-weight: bold;
    text-align: center; 
    overflow: hidden;
}
.texto_contenido {
    position: absolute; 
    top: 15%;
    left: 50%;
    transform: translateX(-50%); 
    
    font-size: 1rem;
    color: yellow;
    text-align: center; 
    overflow: hidden;
    
    
}



.videos_galeria {
    margin-top: 22rem;
    width: 100%; /* Hace que el video ocupe el ancho completo */
    height: auto; /* Mantiene la proporción del video */
    max-height: 100vh; /* Asegura que no exceda la altura de la ventana */
    overflow: hidden;
    z-index: 1000;
}







.pie_pagina {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
    backdrop-filter: blur(5px); 
    color: white;
    font-size: 1rem; 
    text-align: center;
    padding: 15px; 
    line-height: 1.5; 
    border-top: 2px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); 
}




@media screen and (max-width: 480px) {
    /*Estilos para moviles */
    .nav_titular {
        height: 40rem;
    }

    .nav_titulo {
        font-size: 25px;
        line-height: 110%;
        align-items: center;
        margin-top: 90px;
    }

    .subtitulo {
        font-size: 15px;
        line-height: 150%;
        
        
        margin-top: 50px;
    }

    #button {
        padding: 10px;
        font-size: 15px;
    }
    .introduccion{
        height: 30rem;
    }
    .info {
        font-size: 1.1rem;
        text-decoration: underline;
    }
    .texto_introductorio {
        font-size: 0.8rem;
    }

    
    .content_actual {
        height: 22rem;
    }
    .info_contenido {
        font-size: 1.5;
    }

    .texto_contenido{
        font-size: 0.6rem;
    }

    .videos_galeria{
        margin-top: 11rem;
        margin-left: 50%;
        transform: translate(-50%);
        width: 60%;
    }









    
    .pie_pagina {
        font-size: 6px;
        
    }










}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /*Estilos para tablets*/
    .nav_titular {
        height: 100vh;
    }

    .nav_titulo {
        font-size: 60px;
        line-height: 110%;
        align-items: center;
        margin-top: 50px;
    }

    .subtitulo {
        font-size: 30px;
        line-height: 110%;
        text-align: center;
        padding: 0% 1%;
        margin-top: 30px;
    }

    #button {
        padding: 3% 2%;
        font-size: 25px;
        
    }
    .introduccion{
        height: 30rem;
    }
    .info {
        font-size: 1.1rem;
        text-decoration: underline;
    }
    .texto_introductorio {
        font-size: 0.9rem;
    }


    .content_actual {
        height:30rem;
    }
    .info_contenido {
        font-size: 1.5;
    }

    .texto_contenido{
        font-size: 0.6rem;
    }

    .videos_galeria{
        margin-top: 10rem;
        margin-left: 50%;
        transform: translate(-50%);
        width: 60%;
    }






    .pie_pagina {
        font-size: 9px;
        
    }


}

@media screen and (min-width: 769px) {
    /*Estilo para PC*/
    .nav_titular {
        height: 100vh;
    }
    .nav_titulo {
        font-size: 60px;
        line-height: 110%;
        align-items: center;
        margin-top: 90px;
    }

    .subtitulo {
        font-size: 30px;
        line-height: 150%;
        text-align: center;
        padding: 0% 1%;
        margin-top: 110px;
    }

    #button {
        padding: 18px;
        font-size: 30px;
        border-right: 10px;
        
    }
    .introduccion{
        height: 60rem;
    }
    
    .info {
        font-size: 2.5rem;
    }
    .texto_introductorio {
        margin-top: 40px;
        font-size: 1.8rem;
    }
        

    .content_actual {
        height:60rem;
    }


    .info_contenido {
        font-size: 2.2rem;
    }

    .texto_contenido{
        font-size: 1.5rem;
    }

    .videos_galeria{
        margin-top: 29rem;
        margin-left: 50%;
        transform: translate(-50%);
        width: 60%;
    }


    
    .pie_pagina {
        font-size: 1rem;
        
    }


}
